<h2>Edit <%=@song.name%></h2>

<form action="/songs/<%=@song.slug%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name">Name</label>
    <input type="name" name="song[name]" id="name" value="<%= @song.name %>">
    
    <br><br>

    <label for="artist_name">Artist Name</label>
    <input type="text" name="artist[name]" id="artist_name" value="<%= @song.artist.name %>">
    
    <br><br>

    <label>Genre:</label><br>
    <% Genre.all.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" <%= 'checked' if @song.genres.include?(genre) %> value="<%= genre.id %>"><%= genre.name %><br>
    <% end %>

    <br>
    <input type='submit' value="Save">

</form>



    

    

</form>